.container {
  margin: 1rem 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  h1 {
    font-family: var(--font-title);
  }
}

p {
  margin: 1rem 0;
  font-family: var(--font-names);
}

.card {
  background-color: var(--bg-card);
  padding: 0.5rem;
}
